@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: Monsterrat;
}

header{
    position: fixed;
    margin: 0;
    height: 80px;
    width: 100%;
} 
    .img{
        width: 100%;
        height: 80px;
        margin: 0;
        position: absolute;
    }
    
    .top_bar{
        margin: 0;
        width: 100%;
        height: 80px;
        background-color: black;
        opacity: 0.85;
        position: absolute;
    }

    .logo_name{
        float: left;
        width: 230px;
        height: 60px;
        margin-top: 16px;
    }

    .logout_btn{
        float: right;
        margin-top: 25px;
        margin-right: 30px;
        padding: 7px;
        text-decoration: none;
        color: #f2f2f2;
        background: #404040;
        border-radius: 2px;
        font-size: 16px;
        font-family: Monsterrat;
        font-weight: bolder;
        transition: 0.5s;
        transition-property: background;
    }

    .logout_btn:hover{
        background: #04AA6D;
        text-decoration: none;
    }

.work_screen{
    margin-top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    display: inline-flex;
}
.left_bar{
    background: #000000;
    opacity: 0.9;
    margin: 0;
    position: fixed;
    left: 0;
    width: 18%;
    height: 100%;
}

    .left_bar a{
        color: #f2f2f2;
        display: block;
        width: 100%;
        line-height: 50px;
        text-decoration: none;
        padding-left: 40px;
        font-family: Monsterrat;
        font-size: 16px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .left_bar a:hover{
        background:#04AA6D;
    }

    .left_bar a.active{
        background:#04AA6D;
    }

    .left_bar i{
        padding: 10px;
    }

    #main_center_panel{
        position: fixed;
        width: 82%;
        height: 100%;
        left: 18%;
        overflow-y: auto;
        background-color: #f2f2f2;
    }