@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

body{
    background-color: #f2f2f2;
    margin: 0;
    height: 100vh;
    font-family: Monsterrat;
}

header{
    position: fixed;
    margin: 0;
    height: 80px;
    width: 100%;
}

    .img{
        width: 100%;
        height: 80px;
        margin: 0;
        position: absolute;
    }

    .top_bar{
        margin: 0;
        width: 100%;
        height: 80px;
        background-color: black;
        opacity: 0.85;
        position: absolute;
    }

    .logo_name{
        float: left;
        width: 230px;
        height: 60px;
        margin-top: 16px;
    }

    .logout_btn{
        float: right;
        margin-top: 25px;
        margin-right: 30px;
        padding: 7px;
        text-decoration: none;
        color: #f2f2f2;
        background: #404040;
        border-radius: 2px;
        font-size: 16px;
        font-family: Monsterrat;
        font-weight: bolder;
        transition: 0.5s;
        transition-property: background;
    }

    .logout_btn:hover{
        background: #04AA6D;
    }

.work_screen{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 87.5%;
    display: inline-flex;
}

.left_bar{
    background: #000000;
    opacity: 0.9;
    position: fixed;
    width: 18%;
    height: 87.5%;
}

    .left_bar a{
        color: #f2f2f2;
        display: block;
        width: 100%;
        line-height: 50px;
        text-decoration: none;
        padding-left: 40px;
        font-family: Monsterrat;
        font-size: 16px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .left_bar a:hover{
        background:#04AA6D;
    }

    .left_bar a.active{
        background:#04AA6D;
    }

    .left_bar i{
        padding: 10px;
    }

#main_center_panel{
    position: fixed;
    width: 82%;
    height: 87.5%;
    left: 18%;
    background-color: #f2f2f2;
}
    .head{
        position: fixed;
        width: 100%;
        height: 50px;
    }
    #h1 {
        position: fixed;
        margin-left: 2%;
        height: 20px;
        font-size: 20px;
        font-weight: lighter;
        font-weight: bold;
        width: fit-content;
        margin-top: 12px;
    }
    .filter_wrap{
        position: fixed;
        margin-top: 10px;
        width: 12%;
        height: 35px;
        left: 38%;
    }
        .filter_wrap select{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 0;
        }
    .timkiem {
        position: fixed;
        width: 20%;
        height: 30px;
        left: 52%;
        margin-top: 10px;
    }
        .search_logo{
            position: absolute;
            width: 25px;
            height: 25px;
            background-image: url('../../masterial/image/iconAdminPage/searchLogo.svg');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            margin-top: 5px;
            margin-left: 5px;
        }
        .timkiem input {
            position: absolute;
            left: 15%;
            height: 35px;
            vertical-align: middle;
            border: none;
            border: 1px solid #DDD;
            font-size: 15px;
            font-weight: lighter;
            width: 80%;
            font-family: Monsterrat;
        }
    .wrap_btn{
        position: fixed;
        width: 12%;
        height: 35px;
        left: 74%;
        margin-top: 10px;
    }
        .wrap_btn button{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    .wrap_plinth{
        position: fixed;
        width: 10%;
        height: 35px;
        left: 88%;
        margin-top: 10px;
    }
        .wrap_plinth button{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(1, 165, 165);
        }
        .wrap_plinth button:hover{
            background-color: rgb(1, 102, 102);
        }
    #table_panel{
        
        position: absolute;
        width: 96%;
        height: 90%;
        top: 9.5%;
        left: 2%;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 5px 10px #404040;
    }
        
        #table_panel table {
            position: absolute;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;  
            font-size: 15px;
            font-family: Monsterrat;
            font-weight: lighter;
            height: 100%;
            display: block;
            overflow: auto; 
        }
            #table_panel table tr {
                height: 50px;
                word-wrap: break-word;
            }
            #table_panel table th {
                position: sticky; 
                top: 0;
                padding: 5px;
                text-align: center;
                z-index: 0;
                background: white;
            }
            #table_panel table td{
                padding: 5px;
                border-bottom: 0.5px solid rgb(200, 200, 200);
            }
            #table_panel table th:nth-child(8), td:nth-child(8) {
                width: 5%;
                text-align: center;
            }
            #table_panel table th:nth-child(7), td:nth-child(7) {
                width: 5%;
            }
            #table_panel table th:nth-child(6), td:nth-child(6) {
                width: 10%;
                min-width: 50px;
                max-width: 80px;
            }
            #table_panel table th:nth-child(5), td:nth-child(5) {
                width: 11%;
                min-width: 50px;
                max-width: 150px;
            }
            #table_panel table th:nth-child(4), td:nth-child(4) {
                width: 31%;
                min-width: 50px;
                max-width: 150px;
            }
            #table_panel table th:nth-child(3), td:nth-child(3) {
                width: 15%;
                min-width: 50px;
                max-width: 80px;
            }
            #table_panel table th:nth-child(2), td:nth-child(2) {
                width: 10%;
                max-width: 150px;
                background-position: center;
                background-size: contain;
            }
            #table_panel table th:nth-child(1), td:nth-child(1) {
                width: 7%;
                text-align: center;
            } 
.product_popup{
    z-index: 2;    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.product_popup.active{
    opacity: 1;
    visibility: visible;
}

.product_popup .info_card{
    position: fixed;
    width: 70%;
    height: 80%;
    left: 15%;
    top: 10%;
    background: #f2f2f2;
    border-radius: 5px;
}
    .product_popup .info_card .close_btn{
        color: #404040;
        z-index: 3;
        position: absolute;
        right: 0;
        font-size: 20px;
        margin: 20px;
        cursor: pointer;
    }
    .product_popup .info_card h3{
        position: absolute;
        top: 5%;
        left: 35%;
        height: 5%;
    }
    .panel-body{
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
    }
        form{
            position: absolute;
            width: 100%;
            height: 100%;
        }
            .left_div{
                position: absolute;
                width: 50%;
                height: 90%;
            }
                .form_group{
                    position: absolute;
                    width: 100%;
                    height: 8%;
                }
                .form_group label{
                    height: 60%;
                    width: 35%;
                    text-align: right;
                    clear: both;
                    float:left;
                    margin-right:5%;
                    margin-top: 0.5%;
                }
                .form_group input{
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    left: 40%;
                }
                .form_group select{
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    left: 40%;
                }
                .size_div_wrap{
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    top: 30%;
                }
                    .size_div_wrap label{
                        position: absolute;
                        width: 20%;
                        height: fit-content;
                        left: 10%;
                    }
                        .size_div label{
                            position: absolute;
                            width: 30%;
                            height: 70%;
                            left: 0;
                        }

                        .size_div input{
                            position: absolute;
                            width: 55%;
                            left: 30%;
                            height: 70%;
                        }
                .description_div{
                    position: absolute;
                    width: 100%;
                    height: 8%;
                    top: 80%;
                }
                    .description_div input{
                        position:absolute; 
                        width:60%; 
                        left:30%;
                        height: 100%;
                    }
                .meal_div_wrap{
                    position: absolute;
                    width: 100%;
                    height: 8%;
                    top: 90%;
                }
                    .meal_div label{
                        position: absolute;
                        width: 70%;
                        height: 100%;
                        left: 15%;
                        top: 3%;
                    }
            .right_div{
                position: absolute;
                width: 50%;
                height: 80%;
                top: 5%;
                left: 50%;
            }
                .select_menu{
                    position: absolute;
                    width: 100%;
                    height: 25%;
                }

                .select_menu label{
                    position: absolute;
                    width: 20%;
                    left: 8%;
                }
                    .menu_div label{
                        position: absolute;
                        width: 80%;
                        top: 4%;
                    }
                .title_of_img_card{
                    position: absolute;
                    width: 100%;
                    height: 5%;
                    top: 25%;
                    text-align: center;
                    font-style: italic;
                }
                .img_card{
                    position: absolute;
                    width: 80%;
                    height: 10%;
                    top: 30%;
                    left: 10%;
                    text-align: center;
                    border: 1px  solid  #000000;
                }
                .img_card input{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 20%;
                    top: 15%;
                }
                .img_container{
                    position: absolute;
                    width: 80%;
                    height: 60%;
                    top: 40%;
                    left: 10%;
                    text-align: center;
                    border: 1px  solid  #000000;
                }
                    .img_container img{
                        margin: 5px;
                        width: 80%;
                        max-height: 100%;
                    }
            .bottom_div{
                position: absolute;
                width: 100%;
                height: 10%;
                top: 90%;
            }
                .bottom_div button{
                    position: absolute;
                    left: 45%;
                }
