@font-face {
    font-family: Monsterrat;
    src: url(../masterial/font/Montserrat-Medium.ttf);
}

body{
    margin: 0;
    font-family: Monsterrat;
}

.background_img{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.screen{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
    position: absolute;
}

.logo{
    position: absolute;
    width: 345px;
    height: 90px;
    margin-top: 110px;
    margin-left: 37.17%;
}

.box{
    color: #404040;
    width: 400px;
    height: fit-content;
    position: absolute;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 200px;
    margin-left: 35.12%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px black;
}

.box #password_check{
    color: red;
    font-size: small;
}

.box h2{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 900;
}

.box input[type = "text"], .box input[type = "password"]{
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #404040;
    padding: 14px 7px;
    width: 250px;
    outline: none;
    color: #404040;
    border-radius: 24px;
}

.box input[type = "submit"]{

    font-weight: bolder;
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #04AA6D;
    padding: 7px 7px;
    width: fit-content;
    outline: none;
    color: #404040;
    border-radius: 20px;
    transition: 0.25s;
    transition-property: background;
}

.box input[type = "submit"]:hover{
    background: #04AA6D;
}

.box a{
    color: #04AA6D;
    font-size: 14px;
}