@font-face {
    font-family: Montserrat;
    src: url(../masterial/font/Montserrat-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url('../masterial/image/bgrhomepage/bgrhomepage.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.popup_screen{
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup_screen.active{
    visibility: visible;
}

.popup_box{
    position: relative;
    background: black;
    opacity: 0.9;
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    border: #F98607;
    border-style: solid;
}

    .popup_box img{
        width: 111px;
        height: 147px;
    }

    .popup_box div{
        margin-left: 10px;
        color: #F98607;
        font-family: Montserrat;
        font-size: 12px;
    }

    .close_btn{
        position: absolute;
        font-size: 2em;
        color: #f2f2f2;
        top: 0;
        right: 0;
        margin: 15px;
        cursor: pointer;
    }

.page{
    position: absolute;
    width: 100%;
}

.launcher{
    width: 100%;
    margin: 0;
}
    .launcher_img{
        width: 100%;
        margin: 0;
        box-shadow: 0px 10px 15px #404040;
        position: absolute;
    }
    .launcher_logo{
        position: absolute;
        width: 575px;
        height: 150px;
        margin-top: 270px;
        margin-left: 200px;
    }

.menu{
    margin-top: 500px;
}

.contact{
    width: 100%;
    margin: 0;
}
    .contact_img{
        width: 100%;
        position: absolute;
        height: 371px;
    }
    .contact_layer{
        width: 100%;
        height: 371px;
        position: absolute;
        background-color: black;
        opacity: 0.85;
    }
    .contact_logo{
        width: 345px;
        height: 90px;
        position: absolute;
        margin-top: 110px;
        margin-left: 225px;
    }
    .contact p{
        color: #f2f2f2;
        position: absolute;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 200px;
        margin-left: 250px;
    }


header{
    position: fixed;
    margin: 0;
    height: 80px;
    width: 100%;
}   
    .top_bar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
        opacity: 0.9;
    }  
    .top_bar li {
        float: right;
    }    
    .top_bar li a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 25px 30px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Monsterrat',sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
        transition: 0.5s;
        transition-property: background-color;
    }
    .top_bar li a:hover:not(.active) {
        background-color: #404040;
    }
    .top_bar li a.active {
        color: #F98607;
    }