@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

/* Tag con main_center_panel */

.head{
    width: 100%;
    height: 50px;
    display: inline-flex;
    padding-bottom: 0px;
}
h1 {
    margin-left: 2%;
    height: 20px;
    font-size: 20px;
    width: fit-content;
    font-weight: lighter;
}

.table_wrap {
    position: relative;
    margin-left: 2%;
    background: white;
    padding: 0px;
    height: fit-content;
    width: 96%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #404040;
}

/* Tag con table_wrap */

    ul li {
        display: inline-block;
        width: fit-content;
        margin-left: 54px;
        margin-top: -20px;
    }
    ul button {
        width: 100%;
        height: 100%;
        color: #f2f2f2;
        background: #404040;
        padding: 7px 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-family: Monsterrat;
        cursor: pointer;
        border-width: 1px;
    }

.search {
    position: relative;
    margin-left: 4%;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 22px;
    padding: 0;
    display: inline-block;
    border-radius: 3px;
    width: 50%;
}
    .search img {
        vertical-align: middle;
        width: 20px;
    }
    .search input {
        margin: 0;
        height: 20px;
        vertical-align: middle;
        border: none;
        border: 1px solid #DDD;
        font-size: 15px;
        width: 90%;
        font-weight: lighter;
    }

table {
    position: relative;
    display: block;
    max-height: 87%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    font-size: 15px;
    font-family: Monsterrat;
    font-weight: lighter;
    margin-bottom: 100px;
}  
    tr {
        height: 50px;
        word-wrap: break-word;
    }
    th {
        position: sticky; 
        top: 0;
        padding: 5px;
        text-align: left;
        z-index: 0;
        background: white;

    }
    td {
        padding: 5px;
        text-align: left;
        border-bottom: 0.5px solid rgb(200, 200, 200);
    }
        th:nth-child(8), td:nth-child(8) {
            width: 5%;
            text-align: center;
        }
        th:nth-child(7), td:nth-child(7) {
            width: 5%;
        }
        th:nth-child(6), td:nth-child(6) {
            width: 11%;
            min-width: 50px;
            max-width: 80px;
        }
        th:nth-child(5), td:nth-child(5) {
            width: 11%;
            min-width: 50px;
            max-width: 150px;
        }
        th:nth-child(4), td:nth-child(4) {
            width: 31%;
            min-width: 50px;
            max-width: 150px;
        }
        th:nth-child(3), td:nth-child(3) {
            width: 15%;
            min-width: 50px;
            max-width: 80px;
        }
        th:nth-child(2), td:nth-child(2) {
            width: 10%;
        }
        th:nth-child(1), td:nth-child(1) {
            width: 7%;
            text-align: center;
        }

.addProduct_popup{
    z-index: 2;    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.addProduct_popup.active{
    opacity: 1;
    visibility: visible;
}

    .addProduct_popup .info_card{
        position: relative;
        width: 700px;
        height: 400px;
        margin: 300px;
        background: #f2f2f2;
        border-radius: 5px;
    }
    .addProduct_popup .info_card .close_btn{
        color: #404040;
        z-index: 3;
        position: absolute;
        right: 0;
        font-size: 20px;
        margin: 20px;
        cursor: pointer;
    }
    .addProduct_popup .info_card .field{
        line-height: 40px;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 14px;
    }
    .addProduct_popup .info_card input{
        float: right;
        margin-right: 100px;
        width: 60%;
        margin-top: 10px;
    }
    .addProduct_popup .info_card .addcf{
        background: #404040;
        padding: 5px 20px;
        border-radius: 5px;
        color: #f2f2f2;
        margin-top: 10px;
        margin-right: 20px;
        float: right;
        cursor: pointer;
    }