@font-face {
    font-family: mainFont;
    src: url('/masterial/font/Montserrat-Black.ttf');
}

@font-face {
    font-family: buttonFont;
    src: url('/masterial/font/Montserrat-Medium.ttf');
}

#body{
    position: absolute;
}
#img{
    position: absolute;
    width: 100%;
    margin-top: -0.6%;
    margin-left: -0.6%;
    z-index: 2;
}
#black_rect_top{
    position: absolute;
    margin-top: -0.6%;
    margin-left: -0.6%; 
    width: 100%;
    height: 14.8%;
    background-color: black;
    opacity: 0.6;
    z-index: 2;
}

#left_rect{
    position: absolute;
    background-color: rgb(20, 20, 20);
    opacity: 0.9;
    margin-top: -0.6%;
    margin-left: -0.6%;
    width: 18.5%;
    height: 100%;
    z-index: 2;
}

#logo_name{
    position: absolute;
    width: 18.35%;
    height: 10%;
    color: aliceblue;
    margin-top: 1%;
    margin-left: -0.5%;
    z-index: 3;
}



#center{
    position: absolute;
    background-color: lightgray;
    margin-left: -0.6%;
    margin-top: -0.6%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main_font{
    font-family: mainFont;
    z-index: 2;
}

.button_font{
    font-family: buttonFont;
    z-index: 2;
    box-shadow: inset 0px 2px 5px white;
    background-color: black;
    cursor: pointer;
}

.table_font{
    font-family: buttonFont;
    z-index: 2;
}
.main_button{
    font-family: buttonFont;
    background-repeat: no-repeat;
    padding-left: 8%;
    background-position-x: 12%;
    background-position-y: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    z-index: 3;
}
.main_button:hover{
    transform: scale(1.1);
}

th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
th{
    text-align: center;
    background-color: rgb(7, 151, 151); 
    height: 15%;
    font-size: 20px;
}
td{
    text-align: center;
    background-color: rgb(165, 189, 189);
}