/* @font-face {
    font-family: Montserrat;
    src: url(../masterial/font/Montserrat-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}
html{
    font-family: Montserrat;
} */


/* CSS Thanh navbar */
body {
    background-image: url(../masterial/image/bgrhomepage/bgrhomepage.webp);
    
}

.header {
    position: relative;
    
}
.head-img {
     margin-top: -50px; 
}

.nav-link {
    color:antiquewhite;
    font-size: large;
    
}
.navbar-collapse {
    margin-right: 20px;
    
}
.nav-item {
        margin-right: 50px;
        
}
/* css đơn hàng */
.img-don-hang{
    width: 200px;
    height: auto;
}
.title{
    padding-bottom: 30px;
}
.center {
    margin: auto;
    width: 70%;
    background-color: #fff;
    padding: 10px;
}
.don-hang{
    display: flex;
    margin-left: 50px;
}
.img,.thong-tin,.gia-tien{
    padding: 0px;
}
.img,.thong-tin{
    flex: 1;
}
.gia-tien{
    flex: 2;
    /* flex-direction: column-reverse ; */
}
/* css có thể bạn sẽ thích */
.co-the-ban-se-thich{
   
    width: 70%;
    margin: auto;
    margin-top: 5% ;
    margin-bottom: 5%;


}
.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.anh-san-pham{
    width: 100px;
    height: auto;
}
.co-the-ban-se-thich-san-pham{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
/* css thông tin khách hàng */
.thong-tin-khach-hang{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    margin-bottom: 40px;
}
.form-input{
    flex: 1;
}
.dien-thong-tin{
    flex: 1;
    margin-left: 70px;
    justify-content: space-between;
}
.khach-dat-hang{
    flex: 1;
}
.form__label{
    min-width:100px;
}

.button {
    background-color:rgb(200, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.form__row{
    margin: 8px;
}
.form{
    margin-bottom: 5px;
    min-width: 110px;
}
.lay-hang{
   background-color:crimson;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    font-size: 16px;
}
/* .lay-hang1{
    margin-top: 10px;
    margin-left: 85px;
    background-color:rgb(200, 0, 0);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
} */
.lay-hang1{
    margin-left: 10px;
    border: none;
    background-color: rgb(200, 0, 0);
    color: white;
    padding: 2px ;

}