@font-face {
  font-family: Montserrat;
  src: url("../masterial/font/Montserrat-Medium.ttf");
}

html {
  scroll-behavior: smooth;
  font-family: Montserrat;
}

/* Bo sung cai nay - Son - */
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* Son----- */



body {
  margin: 0;
  background-image: url("../masterial/image/bgrhomepage/bgrhomepage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Bo sung cai nay - Son - */
header{
    width: 100%;
    position: fixed;
    /*background: rgba(0,0,0,0.9);*/
    background: black;
    height: 80px;
    z-index: 10;
}

.top-bar {
    float: right;
    margin-left: 20px;
}

.top-logo{
    margin: 0;
    height: 70px;
    width: 270px;
    margin-top: 5px;
    line-height: 80px;
    margin-left: 15px;
}

.checkbtn{
    font-size: 30px;
    color: #f2f2f2;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.top-bar li{
    display: inline-block;
    line-height: 80px;
}
.top-bar li a, .dropbtn {
    color: #f2f2f2;
    padding: 7px 30px;
    font-size: 17px;
    text-transform: uppercase;
}


.top-bar li:hover, .dropdown:hover{
    /*background: #404040;*/
    color: #F98607;
    transition: 0.5s;
}

.top-bar li a:hover{
    color: #F98607;
}

.top-bar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    top: 80px;
    display: none;
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.9); 
    width: 150px;
    right: 0;
    z-index: 1;
    line-height: 30px;
}

.top-bar .dropdown-content a{
    /*color: #F98607;*/
    line-height: 30px;
    font-size: 10px;
    display: block;
    text-align: right;
}

.dropdown-content .out:hover {
    color: #F98607;
}

.dropdown-content .out{
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    background: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.res-dropdown-content{
    display: none;
}
/* --Son------------------- */

.cart {
  width: 64%;
  margin-left: 18%;
  background-color: #f2f2f2;
  position: absolute;
  display: block;
  height: fit-content;
  box-shadow: 0px 5px 10px #404040;
}
.cart .blank {
  position: fixed;
  height: 80px;
  width: 60%;
  background-color: #f2f2f2;
}
.cart h2 {
  margin-top: 80px;
  font-size: 18px;
  color: #404040;
  margin-left: 10px;
}
.guest_cart {
  overflow: auto;
  width: 100%;
  height: fit-content;
}
.cart .product {
  display: flex;
  width: 80%;
  height: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a80000;
  margin-bottom: 20px;
  margin-left: 10%;
}
.cart .product img {
  width: 150px;
  height: 100px;
}
.cart .product .info {
  display: block;
  width: 45%;
  font-size: 14px;
  line-height: 25px;
  margin-top: -20px;
  margin-left: 30px;
}
.cart .product .info .field {
  font-weight: bolder;
}
.cart .product .info .price {
  float: right;
}
.cart .suggest {
  width: 80%;
  height: 120px;
  margin-left: 10%;
  border-bottom: 1px solid #a80000;
  display: block;
  margin-bottom: 20px;
}

.cart .suggest h3 {
  font-size: 14px;
  height: 20px;
  margin: 0;
  text-align: center;
  width: 100%;
  color: #404040;
}

.cart .suggest .suggest-product {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.cart .suggest img {
  height: 80px;
  width: 90%;
  margin-top: 10px;
}
.info_pay {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  font-size: 14px;
}

.info_pay .guess_info {
  width: 45%;
  margin-left: 10%;
  line-height: 30px;
}

.info_pay .guess_info input,
select {
  float: right;
  width: 60%;
  height: 20px;
  margin-top: 4px;
}

.info_pay .pay {
  width: 25%;
  margin-left: 10%;
  line-height: 30px;
}
.info_pay .field {
  font-weight: bold;
}
.info_pay .pay .price {
  float: right;
}
.info_pay .pay .buy {
  margin-top: 12px;
  width: 100%;
  background-color: #a80000;

  border-radius: 10px;
  text-align: center;
  padding: 7px;
  
}
.choose_btn{
  margin: 12px;
  width: 100%;
  background-color: #a80000;
  color: #f2f2f2;
  padding: 6px;
  border-radius: 10px;
}
.choose_btn1{
  margin: 12px;
  width: 100%;
  background-color: #2715ce;
  color: #f2f2f2;
  padding: 6px;
  border-radius: 10px;
}
.null{
  margin: 50px;
  text-align: center;
  font-size: 20px;
}
.info_pay .pay .buy a {
  color: #f2f2f2;
}
.form__row {
  margin-bottom: 2px;
}
.quantity {
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
}
.buy {
  color: white;
}
.product-list {
  padding-bottom: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.title {
  display: grid;
  grid-template-columns: 1fr 9fr;
  text-align: center;
}

.product_img {
  width: 100%;
  height: calc(2 / 3 * width);
  display: block;
}

.name {
  color: #404040;
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: block;
}

.info_view {
  z-index: 20;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  transition: 0.5s;
}
.info_view.active {
  opacity: 1;
  visibility: visible;
}
.info_view hr {
  width: 368px;
  border-color: #a80000;
}
.info_card {
  position: relative;
  display: flex;
  width: 700px;
  height: 600px;
  margin: 300px;
}
.info_card .closeViewInfo_btn {
  color: #a80000;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}
.info_card .info_img {
  position: relative;
  width: 270px;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.info_card img {
  z-index: 2;
  position: relative;
  width: calc(height/2 * 3);
  margin-left: -70%;
  height: 100%;
}
.info_card .info {
  z-index: 2;
  background: #f2f2f2;
  display: inline-block;
  width: 430px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.info_card .info h2 {
  font-size: 20px;
  color: #404040;
  padding-bottom: 10px;
}
.info_card .info p {
  font-size: 10px;
  color: #404040;
  padding-bottom: 10px;
}

.info_card .info .part form {
  padding-bottom: 10px;
}
.info_card .info .part form {
  /* line-height: 40px; */
  padding-left: 50px;
  font-size: 14px;
}
.info_card .info .part h3 {
  color: #404040;
  font-size: 16px;
  text-align: center;
}
.info_card .info .part span {
  float: right;
}

.info_card .info .final {
  padding-top: 20px;
}
.info_card .info .final input {
  padding: 2px 2px;
}
.info_card .info .final a {
  font-size: 14px;
  float: right;
  font-weight: 900;
  color: #f2f2f2;
  background-color: #f98607;
  padding: 2px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.info_card .info .final .price {
  font-size: 16px;
  color: #f2f2f2;
  background-color: #a80000;
  padding: 2px 30px;
  margin: 10px;
  border-radius: 5px;
}

.popup_screen.active {
  visibility: visible;
}
.popup_box img {
  width: 111px;
  height: 147px;
}

.add-card-bt {
  color: white;
  background-color: #f98607;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bolder;

  transition: 0.5s;
  transition-property: background;
}
.apdung{
  margin: auto;
}
.info{
  margin: auto;
}


/* Bo sung cai nay - son---------- */
@media (max-width: 1024px){
    /*top bar*/
    .top-bar li a, .dropbtn{
        padding: 7px 15px;
        font-size: 15px;
    } 
    .checkbtn{
        font-size: 24px;
    }
    .top-logo{
        width: 220px;
        height: 55px;
        margin-top: 15px;
        margin-left: 0;
    }
}

@media (max-width:768px){
    /*top bar*/
    .checkbtn{
        display: block;
    }

    .top-bar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #404040;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .top-bar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .top-bar li a{
        font-size: 20px
    }

    .top-bar li a:hover{
        background: none;
        color: #F98607;
    }

    #check:checked ~ ul{
        right: 0;
    }

    .dropdown{
        visibility: hidden;
    }

    .res-dropdown-content{
        display: block;
        
    }
    .log_out{
        background: none;
        cursor: pointer;
        color: #f2f2f2;
        border: none;
    }
    .log_out:hover{
        color: #F98607;
    }
}
/* -----------Son -------------- */
