@font-face {
    font-family: Monsterrat;
    src: url('../../masterial/font/Montserrat-Medium.ttf');
}

body{
    margin: 0;
    font-family: Monsterrat;
    height: 100%;
}

.background_img{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.screen{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
    position: absolute;
}

/* .box_content{
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%); 
   margin: auto;
} */

.logo{
    position: absolute; 
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
    width: 345px;
    height: 90px;
    margin-bottom: 20px;
    /* margin-top: 110px;
    margin-left: 37.17%; */
}

.box{
    color: #404040;
    width: 400px;
    height: fit-content;
    position: absolute;
    background-color: #f2f2f2;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* margin-top: 200px;
    margin-left: 35.12%; */
    border-radius: 10px;
    box-shadow: 0px 5px 15px black;
    margin-top: 0px;
}


.box h2{
    letter-spacing: 2px;
    font-size: 18px;
    font-family: Monsterrat;
    font-weight: 900;
    margin-top: 20px;
    color: darkorange;
}

.box input[type = "text"], .box input[type = "password"]{
    display: block;
    background: none;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #404040;
    padding: 14px 7px;
    width: 80%;
    outline: none;
    color: #404040;
    border-radius: 24px;
    font-family: Monsterrat;
}

.box input[type = "submit"]{
    width: fit-content;
    font-weight: bolder;
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #04AA6D;
    padding: 7px 7px;
    outline: none;
    color: #404040;
    border-radius: 20px;
    transition: 0.25s;
    transition-property: background;
    font-family: Monsterrat;
    /* width: fit-content; */
}

.box input[type = "submit"]:hover{
    background: #04AA6D;
}

.box a{
    color: #04AA6D;
    font-size: 14px;
}
.box .link {
    margin-bottom: 20px;
}
.box .link .forget {
    margin-right: 10px;
}
.box .link .forget:hover{
    color: darkorange;
    text-decoration: none;
}
.box .link .register:hover{
    color: darkorange;
    text-decoration: none;
}
.box .label_for_email {
    font-size: 14px;
}
.box .label_for_password {
    font-size: 14px;
}
.box #gmail-confirm {
    font-size: small;
    color: red;
}
.box #password_check{
    font-size: small;
    color: red;
}

@media (max-width: 1024px) {
    .box{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 60%;
    }
    .box h2{
        letter-spacing: 2px;
        font-size: 18px;
        font-family: Monsterrat;
        font-weight: 900;
        margin-top: 20px;
        color: darkorange;
    }
    
    .box a{
        color: #04AA6D;
        font-size: 14px;
    }
    .box input[type = "text"], .box input[type = "password"]{
        font-size: 18px;
    }
    .box h2{
        font-size: 24px;
    }
    .box .link .forget{
        font-size: 20px;
    }
    .box .link .register{
        font-size: 20px;
    }
    .box input[type = "submit"]{
        width: 30px;
        height: 50px;
    }
    .box .label_for_email{
          font-size: 16px;
    }
    .box .label_for_password{
        font-size: 16px;
    }
    .box #gmail-confirm {
        font-size: 20px;
    }
    .box #password_check{
        font-size: 20px;
    }

}

@media (max-width: 480px) {
   
    .box h2{
        letter-spacing: 2px;
        font-size: 10px;
        font-family: Monsterrat;
        font-weight: 900;
        margin-top: 20px;
        color: darkorange;
    }
    
    .box a{
        color: #04AA6D;
        font-size: 16px;
    }
    .box input[type = "text"], .box input[type = "password"]{
        font-size: 10px;
    }
    .box h2{
        font-size: 16px;
    }
    .box .link .forget{
        font-size: 16px;
        display: block;
    }
    .box .link .register{
        font-size: 16px;
        display: block;
    }
    .box input[type = "submit"]{
        width: 30px;
        height: 40px;
    }
    .box .label_for_email{
          font-size: 14px;
    }
    .box .label_for_password{
        font-size: 14px;
    }
    .box #gmail-confirm {
        font-size: 14px;
    }
    .box #password_check{
        font-size: 14px;
    }
    .box .link {
         text-align: center;
    }
    
}

@media (max-width: 850px) {
   
    .box h2{
        letter-spacing: 2px;
        font-size: 20px;
        font-family: Monsterrat;
        font-weight: 900;
        margin-top: 20px;
        color: darkorange;
    }
    
    .box a{
        color: #04AA6D;
        font-size: 20px;
    }
    .box input[type = "text"], .box input[type = "password"]{
        font-size: 16px;
    }
    .box h2{
        font-size: 20px;
    }
    .box .link .forget{
        font-size: 16px;
        display: block;
    }
    .box .link .register{
        font-size: 16px;
        display: block;
    }
    .box input[type = "submit"]{
        width: 30px;
        height: 40px;
    }
    .box .label_for_email{
          font-size: 16px;
    }
    .box .label_for_password{
        font-size: 16px;
    }
    .box #gmail-confirm {
        font-size: 16px;
    }
    .box #password_check{
        font-size: 16px;
    }
    .box .link {
         text-align: center;
    }
    
}