.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*display: none;*/
}
.popup {
    width: 600px;
    height: 400px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    
}
.close{
    position: absolute;
    top:0;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
}
.name{
display: inline-block;
font-family: Monsterrat;
font-weight: 800;
margin-right: 50%;
}
.id {
    display: inline-block;
    font-family: Monsterrat;
    font-weight: 800;
    margin-right: 11%;
}
table {
    margin-right: 1%;
    position: relative;
    display: block;
    height: 83%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    font-size: 15px;
    font-family: Monsterrat;
    font-weight: lighter;
    margin-bottom: 100px;
    margin-top: 6%;
}  
    tr {
        height: 50px;
        word-wrap: break-word;
    }
    th {
        color:white;
        position: sticky; 
        top: 0;
        padding: 5px;
        background: black;
        text-align: left;
        z-index: 0;
    }
        th:nth-child(1), td:nth-child(1) {
            width: 15%;
            text-align: center;
        }
        th:nth-child(2), td:nth-child(2) {
            width: 20%;
        }
        th:nth-child(3), td:nth-child(3) {
            width: 10%;
        }
        th:nth-child(4), td:nth-child(4) {
            width: 15%;
        }
        th:nth-child(5), td:nth-child(5) {
            width: 20%;
        }
        th:nth-child(6), td:nth-child(6) {
            width: 20%;
        }
        
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 0.5px solid rgb(200, 200, 200);
    }
      
        tr:nth-child(even) {
            background-color: rgb(214, 208, 208);
        } 
.sum {
    font-weight: 600;
}
/* td:nth-child(1){
                width: 20%;
                text-align: center;
            }
            
            td:nth-child(2){
                width: 20%;
            }
            td:nth-child(3){
                width: 5%;
            }
            td:nth-child(4){
                width: 20%;
            }
            td:nth-child(5){
                width: 15%;
            }
            td:nth-child(6) {
                width: 20%;
            } */
    