@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

.main_center_panel{
    position: fixed;
    width: 82%;
    height: calc(100% - 80px);
    left: 18%;
    overflow-y: auto;
    background-color: #f2f2f2;
}
/* Tag con main_center_panel */

h1 {
    margin-left: 2%;
    height: 20px;
    font-family: Monsterrat;
    font-size: 20px;
    font-weight: lighter;
}

.table_wrap {
    position: relative;
    margin-left: 2%;
    background: white;
    padding: 0px;
    height: fit-content;
    width: 96%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #404040;
}

/* Tag con table_wrap */

ul {
    position: relative;
    top: 10px;
    left: 10px;
    height:min-content;
    width: 95%;
    padding: 0%;
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid gray;
}
    ul li {
        display: inline-block;
        width: 25%;
    }
    ul button {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 0;
        border: none;
        background: white;
        text-align: left;
        font-size: 16px;
        font-family: Monsterrat;
        font-weight: bolder;
    }
    ul button:hover {
        border-bottom: 3px solid #F98607 !important;
    }

.Search {
    position: relative;
    margin-left: 10px;
    height: 22px;
    padding: 0;
    display: inline-block;
    border: 1px solid #DDD;
}
    .Search img {
        display: inline;
        vertical-align: middle;
        width: 20px;
    }
    .Search input {
        display: inline;
        margin: 0;
        width: calc(70% - 29px);
        height: 20px;
        vertical-align: middle;
        border: none;
        font-size: 15px;
        font-family: Monsterrat;
        font-weight: lighter;
    }
    .Search select {
        display: inline;
        width: 25%;
    }
    .Search.DKLoc {
        width: 30%;
    }
    .Search.TimKiem {
        width: 50%;
    }

.OrderList table {
    position: relative;
    display: block;
    height: 83%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    font-size: 15px;
    font-family: Monsterrat;
    font-weight: lighter;
    margin-bottom: 100px;
}  
    .OrderList tr {
        height: 50px;
        word-wrap: break-word;
    }
    .OrderList th {
        position: sticky; 
        top: 0;
        padding: 5px;
        background: white;
        text-align: left;
        z-index: 0;
        cursor: pointer;
    }
    .OrderList td {
        padding: 10px;
        text-align: left;
        border-bottom: 0.5px solid #c8c8c8;
    }
        .OrderList th:nth-child(1), .OrderList td:nth-child(1) {
            width: 5%;
            text-align: center;
        }
        .OrderList td:nth-child(1) a {
            color: #A80000;
        }
         th:nth-child(2).OrderList, td:nth-child(2).OrderList {
            width: 10%;
        }
        .OrderListth:nth-child(3), .OrderList td:nth-child(3) {
            width: 12%;
        }
        .OrderList th:nth-child(4), .OrderList td:nth-child(4) {
            width: 10%;
        }
        .OrderList th:nth-child(5), .OrderList td:nth-child(5) {
            width: 15%;
        }
        .OrderList th:nth-child(6), .OrderList td:nth-child(6) {
            width: 25%;
        }
        .OrderList th:nth-child(7), .OrderList td:nth-child(7) {
            width: 13%;
        }
        .OrderList th:nth-child(8), .OrderList td:nth-child(8) {
            width: 10%;
        }

/* pop up */
.popup_background {
    display: none;
    position: absolute;
    z-index: 9;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    /* justify-content: center;
    align-items: center; */
}

.popup_panel {
    padding: 1%;
    position: relative;
    margin: auto;
    width: 70%;
    height: fit-content;
    background-color: white;
    font-family: Monsterrat;
    font-weight: 800;
    z-index: 10;
    /* text-align: center; */
}
.popup_close{
    position: absolute;
    top:0;
    right:14px;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
}
.popup_name {
    display: inline-block;
    vertical-align:top;
    word-wrap: break-word;
    width: 40%;
}
.popup_id {
    display: inline-block;
    vertical-align:top;
    word-wrap: break-word;
    width: 40%;
}

.popup_table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    font-size: 15px;
    font-weight: lighter;
    
}  
    .popup_table tr {
        height: 50px;
        word-wrap: break-word;
    }
    .popup_table th {
        color:white;
        position: relative; 
        top: 0;
        padding: 5px;
        background: black;
        text-align: left;
        z-index: 10;
    }
    .popup_table td {
        position: relative;
        padding: 10px;
        text-align: left;
        border-bottom: 0.5px solid rgb(200, 200, 200);
    }
        .popup_table th:nth-child(1), .popup_table td:nth-child(1) {
            text-align: center;
            width: 25%;
        }
        .popup_table th:nth-child(2), .popup_table td:nth-child(2) {
            width: 35%;
        }
        .popup_table th:nth-child(2){
            text-align: center;
        }
        .popup_table th:nth-child(3), .popup_table td:nth-child(3) {
            width: 15%;
            text-align: right;
        }
        .popup_table th:nth-child(4), .popup_table td:nth-child(4) {
            width: 10%;
            text-align: center;
        }
        .popup_table th:nth-child(5), .popup_table td:nth-child(5) {
            width: 15%;
            padding-right: 20px;
            text-align: right;
        }    
        .popup_table tr:nth-child(even) {
            background-color: rgb(214, 208, 208);
        } 
        .popup_table .sum td {
            background: #F98607;
            color: #000000;
            font-size: larger;
            font-size: 20px;
            text-align: right;
            /* padding-right: 20px; */
            border-bottom: none;
        }
        .popup_table .sum span{
            color:#095c01;
            font-size: 25px;
        }
.popup_confirmation{
    padding: 3% 0%;
    display: flex;
}
    .popup_confirmation p {
        font-size: larger;
        text-align: center;
    }
    .popup_confirmation .confirmButton {
        display: inline-block;
        margin-left: auto;
        right: 30%;
        background-color: #4CAF50; 
        color: white; 
        padding: 10px 20px;
        width: 30%;
        border: none;
        font-size: large;
        word-wrap: break-word;
    }

    .popup_confirmation .confirmButton:hover {
        background-color: #2c6e2e; 
    }

    .popup_confirmation .rejectButton {
        display: inline-block;
        margin-right: 0;
        background-color: #A80000; 
        color: white; 
        padding: 10px 20px;
        width: 30%;
        border: none;
        font-size: large;
        word-wrap: break-word;
    }

    .popup_confirmation .rejectButton:hover {
        background-color: #680000; 
    }

        