@font-face {
    font-family: Montserrat;
    src: url(../masterial/font/Montserrat-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

html{
    scroll-behavior: smooth;
}



body{
    margin: 0;
    background-image: url('../masterial/image/bgrhomepage/bgrhomepage.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.popup_screen{
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup_screen.active{
    visibility: visible;
}

.popup_box{
    position: relative;
    background: black;
    opacity: 0.9;
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    border: #F98607;
    border-style: solid;
}

    .popup_box img{
        width: 111px;
        height: 147px;
    }

    .popup_box div{
        margin-left: 10px;
        color: #F98607;
        font-family: Montserrat;
        font-size: 12px;
    }

    .close_btn{
        position: absolute;
        font-size: 2em;
        color: #f2f2f2;
        top: 0;
        right: 0;
        margin: 15px;
        cursor: pointer;
    }

.page{
    position: absolute;
    width: 100%;
}

.launcher{
    width: 100%;
    margin: 0;
}
    .launcher_img{
        width: 100%;
        margin: 0;
        box-shadow: 0px 10px 15px #404040;
        position: absolute;
    }
    .launcher_logo{
        position: absolute;
        width: 575px;
        height: 150px;
        margin-top: 270px;
        margin-left: 200px;
    }

    /* -------------css for menu--------------------- */
.menu{
    /* z-index: 1; */
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    font-family: Montserrat;
}
    
    .menu .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .menu .container .product {
        display: flex;
    }
    
    .menu .container .product .product_card{
        background: #f2f2f2;
        position: relative;
        width: 270px;
        height: 400px;
        margin: 30px;
        margin-top: 100px;
        border-radius: 10px;

    }
    
    .product .product_card .product_img{
        /* z-index: 1; */
        position: absolute;
        width: 270px;
        height: 180px;
        margin-top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .product .product_card .name{
        /* z-index: 2; */
        color: #404040;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 180px;
        font-size: 20px;
        font-family: Montserrat;
    }
    
    .product .product_card .info{
        /* z-index: 2; */
        color: #404040;
        position: absolute;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        bottom: 120px;
        font-size: 10px;
        font-family: Montserrat;
    }
    
    .product .product_card .price{
        /* z-index: 2; */
        color: #A80000;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 80px;
        font-size: 20px;
        font-weight: bolder;
        font-family: Montserrat;
    }
    
    .product .product_card .choose_btn{
        /* z-index: 2; */
        color: #f2f2f2;
        background: #A80000;
        position: absolute;
        bottom: 20px;
        left: 50%;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        transform: translate(-50%);
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
        font-family: Montserrat;
    }
    
    /*--------------- style for popup view ------------------------*/
    .product .info_view{
        z-index: 2;    
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-self: center;
        align-items: center;
        visibility: hidden;
        transition: 0.5s;
    }
    .product .info_view.active{
        opacity: 1;
        visibility: visible;
    }
        hr{
            width: 368px;
            border-color: #A80000; 
        }
        .product .info_card{
            position: relative;
            display: flex;
            width: 700px;
            height: 600px;
            margin: 300px;
        }
            .product .info_card .closeViewInfo_btn{
                    color: #A80000;
                    z-index: 3;
                    position: absolute;
                    right: 0;
                    font-size: 20px;
                    margin: 20px;
                    cursor: pointer;
                }
            .product .info_card .info_img{
                position: relative;
                width: 270px;
                height: 100%;
                overflow: hidden;
            }
            .product .info_card img{
                z-index: 2;
                position: relative;
                width: 900px;
                margin-left: -200px;
                height: 100%;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
            .product .info_card .info{
                z-index: 2;
                background: #f2f2f2;
                display: inline-block;
                width: 430px;
                height: 100%;
                box-sizing: border-box;
                padding: 30px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
                .product .info_card .info h2{
                    font-size: 20px;
                    color: #404040;
                    padding-bottom: 10px;
                }
                .product .info_card .info p{
                    font-size: 10px;
                    color: #404040;
                    padding-bottom: 10px;
                }
    
                .product .info_card .info .part form{
                    padding-bottom: 10px;
                }
                    .product .info_card .info .part form{
                        /* line-height: 40px; */
                        padding-left: 50px;
                        font-size: 14px;
                    }
                    .product .info_card .info .part h3{
                        color: #404040;
                        font-size: 16px;
                        text-align: center;
                    }
                    .product .info_card .info .part span{
                        float: right;
                    }
    
    
            .product .info_card .info .final{
                padding-top: 20px;
            }
                .product .info_card .info .final input{
                    padding: 2px 2px;
                }
                .product .info_card .info .final a{
                    font-size: 14px;
                    float: right;
                    font-weight: 900;
                    color: #f2f2f2;
                    background-color: #F98607;
                    padding: 2px 20px;
                    text-decoration: none;
                    border-radius: 5px;
                }
                .product .info_card .info .final .price{
                    font-size: 16px;
                    color: #f2f2f2;
                    background-color: #A80000;
                    padding: 2px 30px;
                    margin: 10px;
                    border-radius: 5px;
                }
    
/*------------------------ css for contact---------------------- */
.contact{
    width: 100%;
    margin: 0;
}
    .contact_img{
        width: 100%;
        position: absolute;
        height: 371px;
    }
    .contact_layer{
        width: 100%;
        height: 371px;
        position: absolute;
        background-color: black;
        opacity: 0.85;
    }
    .contact_logo{
        width: 345px;
        height: 90px;
        position: absolute;
        margin-top: 110px;
        margin-left: 225px;
    }
    .contact p{
        color: #f2f2f2;
        position: absolute;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 200px;
        margin-left: 250px;
    }


header{
    position: fixed;
    margin: 0;
    height: 80px;
    width: 100%;
}   
    .top_bar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
        opacity: 0.9;
    }  
    .top_bar li {
        float: right;
    }    
    .top_bar li a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 25px 30px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Monsterrat',sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
        transition: 0.5s;
        transition-property: background-color;
    }
    .top_bar li a:hover:not(.active) {
        background-color: #404040;
    }
    .top_bar li a.active {
        color: #F98607;
    }

