@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

body {
    background-image: url(../masterial/image/bgrhomepage/bgrhomepage.webp);
    background-repeat:no-repeat ;
    background-attachment: fixed;
   
}

.navbar {
    opacity: 0.85;
}
.head-img {
     margin-top: -120px; 
}

.nav-link {
    color:antiquewhite;
    font-size: large;
}
/* .navbar-collapse {

} */
.content-box {
    list-style: none;
 
}
.nav-item {
    color: white;
    
}
.nav-text {
    font-size: 1.5rem;
    font-family: Monsterrat;
}

/* pop-up */
.popup {
    position: absolute;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;    
}

.hr {
    color: rgb(218, 218, 110);
}
.inform {
    padding-top: 20px;
}

.content {
    
    background-color: rgba(10, 10, 10, 0.85);
    max-width: 450px;

}
.butt {
    padding-bottom: 10px;
}
.menu_show {
    margin-top: 40px;
    width: 100%;
}
.menu {
    background-color:  rgba(43, 41, 41, 0.692);
    display: flex;
    height: fit-content;
    padding-top: 15px;
    margin-bottom: 30px;

}
.menu-tab {
    text-align: center;
}
.pizza-text {
    color: darkorange;
    font-size: x-large;
}
.ul-pizza {
    list-style: none;
    margin-left: -70px;
}
.pizz {
    margin-bottom: 20px;
}
.pizz-box {
    background-color: lightgoldenrodyellow;
}
.pizz-box-link {
   text-decoration: none;
   color: black;
}
.pizz-name {
    text-align: center;
}
.pizz-text {
    margin-left: 10px;
    margin-top: 5px;
}
.pizz-button {
    display: block;
    background-color: darkorange;
}

/* a:hover {
    text-decoration: none;
    color: white;
} */
.footer {
    background-image: url(../masterial/image/bgrhomepage/endHomepage.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.footer-ct {
    color: white;
}

/* .menu_list {
    position: relative;
}

#beverage, #salad, #spaghetti, #bbq, #combo {
    position: absolute;
    display: none;
} */





   


