@font-face {
    font-family: Montserrat;
    src: url('../../masterial/font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Corinthia;
    src: url(../../masterial/font/Corinthia-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url('../../masterial/image/bgrhomepage/bgrhomepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    font-family: Montserrat;
}

/* ----------------------------------------------------------------- */
header{
    width: 100%;
    position: fixed;
    /*background: rgba(0,0,0,0.9);*/
    background: black;
    height: 80px;
    z-index: 10;
}

.top-bar {
    float: right;
    margin-left: 20px;
}

.top-logo{
    margin: 0;
    height: 70px;
    width: 270px;
    margin-top: 5px;
    line-height: 80px;
    margin-left: 15px;
}

.checkbtn{
    font-size: 30px;
    color: #f2f2f2;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.top-bar li{
    display: inline-block;
    line-height: 80px;
}
.top-bar li a, .dropbtn {
    color: #f2f2f2;
    padding: 7px 30px;
    font-size: 17px;
    text-transform: uppercase;
}


.top-bar li:hover, .dropdown:hover{
    /*background: #404040;*/
    color: #F98607;
    transition: 0.5s;
}

.top-bar li a:hover{
    color: #F98607;
}

.top-bar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    top: 80px;
    display: none;
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.9); 
    width: 150px;
    right: 0;
    z-index: 1;
    line-height: 30px;
}

.top-bar .dropdown-content a{
    /*color: #F98607;*/
    line-height: 30px;
    font-size: 10px;
    display: block;
    text-align: right;
}

.dropdown-content .out:hover {
    color: #F98607;
}

.dropdown-content .out{
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    background: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.res-dropdown-content{
    display: none;
}
/* ------------------- */

/* ------------------------------------ */
.slider{
    width: 100%;
    height: calc(width/8*3);
    overflow: hidden;
    box-shadow: 0px 15px 30px black;
    margin-top: 80px;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #F98607;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #F98607;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  
/* Style tab btn -----------------------------------------*/
.tab-btn{
    display: inline-block;
}
.tablink {
    background-color: #A80000;
    color: #F98607;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    vertical-align: middle;
    font-size: 17px;
    border-right: 1px dashed #F98607;
    border-left: 1px dashed #F98607;
    text-align: center;
    letter-spacing: 5px;
    transition: 0.5s;
    transition-property: background-color;
  }
  
  .tablink:hover {
    background-color: #F98607;
    color: #A80000;
    border-right: 1px dashed #A80000;
    border-left: 1px dashed #A80000;
  }
  /* #defaultOpen{
      text-align: right;
  } */
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: #A80000;
    display: none;
    height: 100%;
  }

.click-me{
    position: absolute;
    width: 40px;
    height: 40px;
    position: relative;
    left: 2%;
    margin-top: -10px;
}

/* body page------------------------------------- */
.body-page{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 20px;
}

.quote{
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color: black;
    font-family: Corinthia;
    color: #A80000;
}
.category{
/*    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category .product {
    background: #f2f2f2;
    position: relative;
    width: 315px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    justify-self: center;
    margin: 20px;
}

.product .product_img{
    width: 315px;
    height: 210px;
    display: block;
}

.product .name{
    color: #404040;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 18px;
    display: block;
    font-family: Montserrat;
}

.product .description{
    color: #404040;
    width: 90%;
    overflow-y: auto;
    height: 50px;
    margin-left: 5%;
    text-align: center;
    font-size: 10px;
    height: 15%;
    display: block;
}

.product .price{
    color: #A80000;
    width: 100%;
    text-align: center;
    font-size: 20px;
    bottom: 50px;
    font-weight: bolder;
    display: block;
}

.product .choose_btn{
    z-index: 2;
    color: #f2f2f2;
    background: #A80000;
    position: absolute;
    left: 50%;
    bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translate(-50%);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.info_view{
    z-index: 20;    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
    transition: 0.5s;
}
.info_view.active{
    visibility: visible;
}
.info_view hr{
        width: 100%;
        /*padding: 20px;*/
        border-color: #A80000; 
    }
    .info_card{
        position: relative;
        display: flex;
        width: 700px;
        height: 600px;
        left: 50%; 
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
        .info_card .closeViewInfo_btn{
                color: #A80000;
                z-index: 3;
                position: absolute;
                right: 0;
                font-size: 20px;
                margin: 20px;
                cursor: pointer;
            }
        .info_card .info_img{
            position: relative;
            width: 270px;
            height: 100%;
            overflow: hidden;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        .info_card img{
            z-index: 2;
            position: relative;
            width: calc(height/2*3);
            margin-left: -70%;
            height: 100%;
        }
        .info_card .info{
            z-index: 2;
            background: #f2f2f2;
            display: inline-block;
            width: 430px;
            height: 100%;
            box-sizing: border-box;
            padding: 30px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
            .info_card .info h2{
                font-size: 20px;
                color: #404040;
                padding-bottom: 10px;
            }
            .info_card .info p{
                font-size: 10px;
                color: #404040;
                padding-bottom: 10px;
            }

            .info_card .info .part .form{
                padding: 20px;
                font-size: 14px;
                height: 80px;
                overflow-y: scroll;
            }
                .info_card .info .part h3{
                    color: #404040;
                    font-size: 16px;
                    text-align: center;
                }
                .info_card .info .part span{
                    float: right;
                    color: black;
                }

        .info_card .info .final{
            margin-top: 30px;
            bottom: 30px;
            justify-items: center;
        }

        .final input[type="submit"]{
            float: right;
        }

.voucher{
    display: flex;
    background-color: #A80000;
    align-items: center;
    height: 150px;
    width: 100%;
    border-bottom:2px solid #F98607;
    overflow-x: scroll;
}
    .voucher .ticket{
            top: 20%;
            display: inline-flex;
            margin-left: 30px;
            margin-right: 30px;
        }
        .voucher .body-ticket{
            background-color: #f2f2f2;
            width: 250px;
            height: 120px;
            overflow-y: scroll;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            padding-left: 10px;
        }
        .voucher .ticket .cp-description{
            color: black;
            font-size: 12px;
        }
        .voucher .ticket .stubs{
            background-color: #F98607;
            height: 120px;
            width: 100px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            border-left: 2px dashed #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .stubs .get{
            font-weight: bolder;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            border: 2px solid #A80000;
            background-color: #A80000;
            padding: 7px 10px;
            outline: none;
            color: #f2f2f2;
            border-radius: 20px;
            cursor: pointer;
        }



/* foot page---------------------------- */
.foot-page{
    width: 100%;
    margin: 0;
    height: calc(width*2/7);
    text-align: center;
    position: relative;
    /*background: url("../../masterial/image/bgrhomepage/endHomepage.jpg");*/
}
    .foot-page .bgr{
        width: 100%;
        position: absolute;
        left: 0;
        height: calc(width*2/7);
        filter: brightness(15%);
    }
    .foot-page .contact{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .foot-page .logo{
        width: 345px;
        height: 90px;
    }
    .foot-page p{
        color: #f2f2f2;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 2px;
    }
  .popup_screen{
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup_screen.active{
    visibility: visible;
}

.popup_box{
    position: relative;
    background: black;
    opacity: 0.9;
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    border: #F98607;
    border-style: solid;
}

    .popup_box img{
        width: 111px;
        height: 147px;
    }

    .popup_box div{
        margin-left: 10px;
        color: #F98607;
        font-family: Montserrat;
        font-size: 12px;
    }

    .close_btn{
        position: absolute;
        font-size: 2em;
        color: #f2f2f2;
        top: 0;
        right: 0;
        margin: 15px;
        cursor: pointer;
    }
    input[type = "submit"]{
        font-weight: bolder;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        border: 2px solid #A80000;
        background-color: #A80000;
        padding: 7px 10px;
        outline: none;
        color: #f2f2f2;
        border-radius: 20px;
        cursor: pointer;
    }
/* responsive body */

@media (max-width: 1024px){
    /*top bar*/
    .top-bar li a, .dropbtn{
        padding: 7px 15px;
        font-size: 15px;
    } 
    .checkbtn{
        font-size: 24px;
    }
    .top-logo{
        width: 220px;
        height: 55px;
        margin-top: 15px;
        margin-left: 0;
    }

    .div h2{
        font-size: 14px;
    }
    .div form span{
        font-size: 10px;
    }

    /* voucher */
    .voucher {
        height: 100px;
    }
    .voucher .ticket .cp-description{
        font-size: 10px;
    }

    input[type="submit"], .stubs .get{
        font-size: 10px;
        padding: 7px 10px;
    }

    .voucher .body-ticket{
        padding: 5px;
        width: 220px;
        height: 90px;
    }
    .voucher .ticket .stubs{
        width: 80px;
        height: 90px;
    }
    /* tab btn */
    .tablink{
        font-size: 14px;
        letter-spacing: 4px;
    }
    .click-me{
        width: 20px;
        height: 20px;
        margin-top: -60px;
    }
    .quote{
        font-size: 36px;
    }
    /* product */
    .category .product {
        width: 270px;
        height: 360px;
    }

    .product .product_img{
        width: 270px;
        height: 180px;
    }

    .product .name{
        font-size: 14px;
    }

    .product .description{
        font-size: 8px;
    }

    .product .price{
        font-size: 16px;
    }

    .product .choose_btn{
        font-size: 10px;
    }

}
@media (max-width:768px){
    /*top bar*/
    .checkbtn{
        display: block;
    }

    .top-bar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #404040;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .top-bar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .top-bar li a{
        font-size: 20px
    }

    .top-bar li a:hover{
        background: none;
        color: #F98607;
    }

    #check:checked ~ ul{
        right: 0;
    }

    .dropdown{
        visibility: hidden;
    }

    .res-dropdown-content{
        display: block;
        
    }
    .log_out{
        background: none;
        cursor: pointer;
        color: #f2f2f2;
        border: none;
    }
    .log_out:hover{
        color: #F98607;
    }

    /**/
    .tablink{
        font-size: 12px;
        letter-spacing: 3px;
    }
    .foot-page .logo{
        width: 190px;
        height: 50px;
    }
    .foot-page p{ 
        font-size: 8px;
    }

    /* product */  
    .info_card{
        width: 565px;
        height: 510px;
    }
        .info_card .info_img{
            width: 230px;
        }
        .info_card .info{
            width: 335px;
        }
            .info_card .info h2{
                font-size: 18px;
            }
            .info_card .info p{
                font-size: 10px;
            }

            .info_card .info .part .form{
                font-size: 12px;
            }
                .info_card .info .part h3{
                    font-size: 14px;
                }
}

@media (max-width:  480px){

    .tablink{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_card{
        width: 396px;
        display: block;
        top: -80px;
    }
        .info_card .closeViewInfo_btn{
            right: 10px;
        }
        .info_card .info_img{
            width: 396px;
            height: 200px;
            /*position: relative;*/
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
        }
        .info_card img{
            width: 100%;
            margin-left: 0;
            height: 264px;
        }
        .info_card .info{
            width: 100%;
            /*margin-top: -64px;*/
            height: fit-content;
            border-top-right-radius: 0;
            border-bottom-left-radius: 5px;
        }
            .info_card .info h2{
                font-size: 16px;
            }
            .info_card .info p{
                font-size: 10px;
            }

            .info_card .info .part .form{
                font-size: 14px;
            }
                .info_card .info .part h3{
                    font-size: 12px;
                }

        .final span{
            margin-top: 10%;
            color: black;
        }

}