@font-face {
    font-family: Monsterrat;
    src: url("../../masterial/font/Montserrat-Medium.ttf");
}

    /* -------------------------------------------------- */
    .clear{
        clear: both;
    }

/* #main-center{
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
} */
h1 {
    margin-left: 2%;
    height: 20px;
    font-size: 20px;
    font-weight: lighter;
}
.cardBox{
        position: relative;
        width: 98%;
        margin-top: 17px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
        background: #f2f2f2;
}
    .cardBox .card{
        position: relative;
        background: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px #404040;
    }
    .card .numbers{
        position: relative;
        font-size: 2em;
        font-weight: 500;
        padding-left: 30px;
    }
    .card .cardName{
        font-size: 1.5em;
        font-weight: 500;
        color: #999;
        
    }
    .card .iconbox{
        font-size: 4em;
        color: #04AA6D;  
        justify-content:center
    }

    /* ----------------------- */
.details{
    position: relative;
    width: 96%;
    padding: 20px;
    /* padding-top: 0; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
}
.details .recentOrders{
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #404040;
    margin-left: 2px;
}
.cardHeader{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
}
.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    border-bottom: 1px solid #404040;
}
.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: #04AA6D;
    color: #fff;
}
.details .recentOrders table tr td{
    padding: 9px 5px;
}
.details .recentOrders table tr td:last-child,
.details .recentOrders table tr td:last-child{
    text-align: right;
    /* padding-right: 20px; */
}
.details .recentOrders table tr td:nth-child(2),
.details .recentOrders table tr td:nth-child(2){
    text-align: right;
    padding-right: 20px;
}
.details .recentOrders table tr td:nth-child(3),
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.status{
    position: relative;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered{
    background: #8de02c;
}
.return{
    background: #A80000;
}
.inprogress{
    background: #1795ce;
}
.pending{
    background: #F98607;
}

.details .recentCustomers{
    position: relative;
    /* display: grid; */
    background: #fff;
    padding: 20px;
    min-height: 440px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #404040;
}
.details .recentCustomers h2{
    width: 100%;
    height: fit-content;
}
.details .recentCustomers .imgBx{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: #04AA6D;
    overflow: hidden;
}
.details .recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details .recentCustomers table tr:hover,
.details .recentCustomers table tr:hover td h4 span{
    background: #04AA6D;
    color: #fff;

}
.details .recentCustomers table tr td{
    padding: 2px 5px;
}
.details .recentCustomers table tr td h4{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2em;
}
.details .recentCustomers table tr td h4 span{
    font-size: 14px;
    color: #999;
}

#chart_div{
    position: relative;
    width: 96%;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #404040;
    margin-bottom: 100px;
}